
node_modules/
package-lock.json
yarn.lock

.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

eas.json

/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

npm-debug.*
yarn-debug.*
yarn-error.*
*.log

.DS_Store
*.pem
Thumbs.db

*.tsbuildinfo